@import "../nodebb-theme-persona/theme";

@import "./less/container";
@import "./less/breadcrumb";
@import "./less/composer";
@import "./less/task-bar";
@import "./less/alert";

@material-primary:         #2185d0;
@material-success:         #21ba45;
@material-info:            #e0e1e2;
@material-warning:         #f2711c;
@material-danger:          #db2828;

